*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    /* Colors */
    --color-text: #1a1a1a;
    --color-white: #fafafa;
    --color-grey: #868686;
    --color-accent: #6b5ecf;
    --color-blue: #1f1d2b;
    --color-blue-light: #252837;
    --color-blue-light-2: #2d303f;
    --color-blue-light-3: #5f6275;
    --color-blue-light-4: #abafd1;
    --color-green: #16b402;
    --color-yellow: #FFDD4A;
    /* Fonts */
    --font-primary: 'Lato', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
    /* Break Points */
    --bp-largest: 50.7em;
    /*-------*/
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: var(--font-primary);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--color-white);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app {
    align-content: space-around;
}

.navbar {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    height: 8rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
    background-color: var(--color-yellow);
}

.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 3rem;
}

.navbar__logo img {
    height: 3rem;
    width: auto;
    cursor: pointer;
    transition: all .15s ease-out;
}

.navbar__logo img:hover {
    transform: scale(1.05);
}

.navbar__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--font-secondary);
}

.navbar__links a, a:visited {
    cursor: pointer;
    color: var(--color-text);
    transition: all .15s ease-out;
    user-select: none;
    text-decoration: none;
    margin-right: 2rem;
}

.navbar__links a:hover {
    color: var(--color-grey);
}

.footer {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    align-content: center;
    height: 10rem;
    padding: 1rem;
    background-color: var(--color-yellow);
}

.footer img {
    height: 5rem;
    margin-left: 2rem;
}

.footer__info {
    margin-right: 5rem;
    font-weight: 600;
}