<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!-- ------ Navbar ------ -->
    {% include "navbar.html" %}

    <!-- ------ Contenido ------ -->
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-12">
                <!-- ------ Editar aqui ------ -->
                <h1>Welcome</h1>
                <p>Lorem ipsum.</p>
                <hr>
                <h3>Test</h3>
                <p>Lorem ipsum...</p>

            </div>
        </div>
    </div>

    <!-- ------ Footer ------ -->
    {% include "footer.html" %}
</body>

</html>